<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<% @events.each do |e| %>
	
<!--    <%= image_tag("pokemon/#{p.ndex}.png", alt: "pokemon") %> --> 
    <p>Name: <%=e.name%></p>
    <p>Location: <%=e.location%></p>
    <p>Performer: <%=e.performer%></p>
    <p>Price: <%=e.price%></p>
    <%= button_to "Buy", buy_path(id: e), :class => "button medium", :method => :patch %>
    <% if current_user.email == e.user.email %>
        <%= button_to "Edit", edit_path(id: e), :class => "button medium", :method => :patch %>
    <% end %>

<% end %>