
<head>
    <title> ticketX </title>
    <link rel="stylesheet" href="/app/assets/stylesheets/home_page.css">
</head>

<body>

    <div id="full-container">





        <div>Events#index</div>
        <p>Find me in app/views/events/index.html.erb</p>
        <% if current_user %>
            <%= button_to "Sign out", destroy_user_session_path, :class => "button medium", :method => :delete %>
            <% if current_user.fName == "Host" %>
                <%= button_to "Create", new_path, :class => "button medium", :method => :get %>
            <% end %>
        <% else %>
            <%= button_to "Sign in",  new_user_session_path, :class => "button medium", :method => :get %>
        <% end %>



        <% @events.each do |e| %>

            <p>Name: <%=e.name%></p>
            <p>Location: <%=e.location%></p>
            <p>Performer: <%=e.performer%></p>
            <p>Price: <%=e.price%></p>
            <%= button_to "Details", show_path(id: e), :class => "button medium", :method => :patch %>
            <%= button_to "Buy", buy_path(id: e), :class => "button medium", :method => :patch %>
            <% if current_user == e.user %>
                <%= button_to "Edit", edit_path(id: e), :class => "button medium", :method => :patch %>

            <% end %>


        <% end %>

    </div>

    <div id="container">

    </div>
</body>




