
<head>
    <title> ticketX </title>

</head>

<body>

    <div id="form">


        <div style="padding:20px">
          <% if current_user %>
              <%= button_to "Sign out", destroy_user_session_path, :id => 'solebutton', :method => :delete %>
              <%= button_to "My Events", my_path, :id => 'solebutton', :method => :get %>
              <% if current_user.fName == "Host" %>
                  <%= button_to "Create", new_path, :id => 'solebutton', :method => :get %>
              <% end %>
          <% else %>
              <%= button_to "Sign in",  new_user_session_path, :id => 'solebutton', :method => :get %>
          <% end %>
        </div>


       
        



        <% @events.each do |e| %>

            <p>Name: <%=e.name%></p>
            <p>Location: <%=e.location%></p>
            <p>Performer: <%=e.performer%></p>
            <p>Price: <%=e.price%></p>
            <%= button_to "Details", show_path(id: e), :id => 'solebutton', :method => :patch %>
            <% if current_user == e.user %>
                <%= button_to "Edit", edit_path(id: e), :id => 'solebutton', :method => :patch %>

            <% end %>


        <% end %>
        <%= button_to "Home", root_path, :id => 'solebutton', :method => :get %>

    </div>

    <div id="container">

    </div>
</body>




