<div class="form">

<%= form_tag events_new_path do %>
  <%= label_tag(:name, "Name") %>
  <%= text_field_tag(:name, nil, placeholder: @event_name) %>
  <br>
  <%= label_tag(:location, "Location") %>
  <%= text_field_tag(:location, nil, placeholder: @event_location) %>
  <br>
  <%= label_tag(:performer, "Performer") %>
  <%= text_field_tag(:performer, nil, placeholder: @event_perform) %>
  <br>
  <%= label_tag(:price, "Price") %>
  <%= text_field_tag(:price, nil, placeholder: @event_price) %>
  <br>
  <%= label_tag(:max_ticket, "Tickets Available") %>
  <%= text_field_tag(:max_ticket, nil, placeholder: 100) %>
  <br>
  <%= label_tag(:descrip, "Description") %>
  <%= text_field_tag(:descrip, nil, placeholder: @event_descrip) %>
  <br>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <%= submit_tag("Create") %>

  </div>
<% end %>