<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>
<% if @o != nil %>
	<p>You've bought the ticket!</p>
<% else %>
	<%= button_to "Buy", buy_path(id: @event), :class => "button medium", :method => :patch %>
<% end %>
<% if current_user == @event.user %>
  <%= button_to "Edit", edit_path(id: @event), :class => "button medium", :method => :patch %>
<% end %>

<p>Name: <%= @event.name%></p>
<p>Location: <%=@event.location%></p>
<p>Performer: <%=@event.performer%></p>
<p>Price: <%=@event.price%></p>
<p>Description: <%=@event.descrip%></p>


<%= button_to "Home", root_path, :class => "button medium", :method => :get %>
